map $http_x_requested_with $proxy_destination {
  default ${URL_COMMON_FRONTEND};
  ~*xhr ${URL_COMMON_BACKEND};
}

resolver ${RESOLVER};

server {
    listen       80;
    listen  [::]:80;

    location / {
      client_max_body_size 10M;
      proxy_buffering off;
      proxy_pass $proxy_destination$request_uri;
      proxy_read_timeout 300;
    }
}
